@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html, body {
    background-color: #eceaea
}
header {
    background-color: #4D41C0;
    color: #FFFFFF;
}

a, a:hover {
    text-decoration: none;
    color: unset
}